$center-width: 1200px;
$mobile-width: 768px;

$color-subject: #f43574;
$color-primary: #409eff;
$color-hover: #ffb6c1;
$color-gray: #aaaaaa;
$color-white: #ffffff;
$color-gray-mid: #898989;

$navbar-height: 72px;
$footer-height: 72px;
$footer-mt-px: 16px;
